a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {
    border: 1px solid none; background: #ffffff; color: black !important;
}